.unitdetail-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.unitdetail-img {
    width: 20%;
}

.unitdetail-container-descripcion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.unitdetail-container-nombre {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
}

.unitdetail-costo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.unitdetail-costo img {
    width: 50%;
}

.unitdetail-costo-container {
    display: flex;
    justify-content: center;
    width: 35%;
    gap: 25px;
}


.unitdetail-container-descripcion h2 {
    font-size: 3.8vw;
}

.unitdetail-container-descripcion p {
    font-size: 200%;
    color: rgb(218, 218, 218);
}
