.itemlistcontainer-container {
    height: 80vh;
}

.main-contenedor {
    min-height: fit-content;
    background-color: rgb(92, 92, 92);
    color: white;
    padding: 1%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}