.civilizaciones-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    gap: 7px;
}

.civ-container-hijo.nombre h2 {
    font-size: 29px;
    color: whitesmoke;
}

.civ-container-hijo.descripcion h3 {
    font-size: 26px;
}