@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Nunito:wght@300&display=swap');

.filtro {
    padding: 5px;
}

.filtro legend {
    font-family: 'Cormorant Garamond', serif;
    font-size: xx-large;
}

.filtro label {
    font-family: 'Cormorant Garamond', serif;
    font-size: x-large;
}

.filtro-categorias {
    display: flex;
    gap: 1vw;
}